<h1>Produtos</h1>

<form method="POST" action="/products">
  <input name="name" placeholder="Nome" />
  <input name="description" placeholder="Descrição" />
  <input name="price" placeholder="Preço" />
  <input type="hidden" name="tenantId" value="<%= tenantId %>" />
  <button type="submit">Cadastrar</button>
</form>

<ul>
  <% products.forEach(p => { %>
    <li><%= p.name %> - R$ <%= p.price %></li>
  <% }) %>
</ul>
