<h1 class="text-2xl font-bold mb-6">
📦 Produtos
</h1>

<table class="w-full bg-white rounded shadow">

<thead class="bg-gray-200">

<tr>

<th class="p-3 text-left">Nome</th>
<th class="p-3 text-left">Preço</th>

</tr>

</thead>

<tbody>

<% products.forEach(p => { %>

<tr class="border-t">

<td class="p-3"><%= p.name %></td>
<td class="p-3">R$ <%= p.price %></td>

</tr>

<% }) %>

</tbody>

</table>
