<h1>Produtos</h1>

<a href="/products/new">Novo Produto</a>

<table>

<tr>
<th>Imagem</th>
<th>Nome</th>
<th>Preço</th>
<th>Estoque</th>
</tr>

<% products.forEach(p => { %>

<tr>

<td>
<% if (p.images.length) { %>
<img src="<%= p.images[0].url %>" width="60">
<% } %>
</td>

<td><%= p.name %></td>
<td>R$ <%= p.price %></td>
<td><%= p.stock %></td>

</tr>

<% }) %>

</table>
