<h1>Configurações da Empresa</h1>

<form action="/tenant/update" method="POST">

<input name="name" value="<%= tenant.name %>">

<select name="plan">

<option value="free">Free</option>
<option value="pro">Pro</option>

</select>

<button>
Salvar
</button>

</form>
